body{
    background-color: #bdb76b;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
h1{
    color: darkslategrey;

}
h2{
    color: maroon;
}
p{
    font-size: 30px;
}
ul{
    background-color: mediumseagreen;
    font-family: fantasy;
    font-size: 30px;
}